<div class="content cart">

    <div class="tabber  tabber-n3 tabber-double-11 clearfix">
        <a ng-href="#/shop/index/cart">购物车</a>
        <a class="active" ng-href="#/shop/index/cusorderlist">我的订单</a>
    </div>

    <div class="tabber  tabber-n4 tabber-double-12 clearfix">
        <a ng-class="{'active':order_list_status==''}" ng-click="find(0)">全部</a>
        <a ng-class="{'active':order_list_status==1}" ng-click="find(1)">待付款</a>
        <a ng-class="{'active':order_list_status==2}" ng-click="find(2)">待发货</a>
        <a ng-class="{'active':order_list_status==3}" ng-click="find(3)">待收货</a>
    </div>

    <div class="block block-order clearfix">

        <ul class="list block block-list block-list-cart block-border-none" ng-if="orders.length==0">
            <div class="empty-list ">
                <div class="empty-list-header">
                    <h4>还没订单数据哦~</h4>
                    <span>赶紧挑选商品吧！</span>
                </div>

                <div class="empty-list-content"><a ng-href="#/shop" class="home-page tag tag-big tag-orange">去逛逛</a>
                </div>
            </div>
        </ul>


        <div id="order-list-container" ng-if="orders.length>0">

            <div class="b-list">
                <li class="block block-order animated" ng-repeat="order in orders|orderBy:'-createTime'">
                    <div class="header">
                <span class="font-size-12" ng-switch="order.orderStatus">订单号：{{::order.orderCode}}
                     <span ng-switch-when="1" class="c-blue">(待付款)</span>
                    <span ng-switch-when="2" class="c-blue">(待发货)</span>
                    <span ng-switch-when="3" class="c-blue">(已发货)</span>
                    <span ng-switch-when="4" class="c-blue">(已完成)</span>
                    <span ng-switch-when="5" class="c-blue">(已关闭)</span>
                    <span ng-switch-when="6" class="c-blue">(退款中)</span>
                    <span ng-switch-when="7" class="c-blue">(等待支付确认)</span>
                </span>
                        <a class="pull-right font-size-12 c-blue" ng-if="order.orderStatus==1"
                           ng-click="to_cancel_order($index,order.orderID,order)">取消</a>
                    </div>
                    <a href="{{order.orderStatus==7 ? 'javascript:void(0)':'#/shop/index/order?id='+order.orderID}}">
                        <div class="block block-list block-border-top-none block-border-bottom-none">
                            <div class="block-item name-card name-card-3col clearfix">
                                <img class="thumb" ng-src="{{::F.get_image(order.orderSubs[0].url,60,60,1)}}">

                                <div class="detail">
                                    <h3>{{::order.orderSubs[0].productName}}</h3>

                                    <p class="sku-detail ellipsis js-toggle-more">
                    <span class="c-gray">
                            {{::order.orderSubs[0].productSpecContent}}
                    </span>
                                    </p>
                                </div>
                                <div class="right-col">
                                    <div class="price">￥<span>{{::order.orderSubs[0].realPrice | number:2}}</span></div>
                                    <div class="num">
                                        ×<span class="num-txt">{{::order.orderSubs[0].qty}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="center font-size-12" ng-if="order.orderSubs.length>1">
                                查看全部{{::order.orderSubs.length}}件商品
                            </div>

                        </div>
                    </a>
                    <hr class="margin-0 left-0">
                    <div class="bottom">
                        总价：<span class="c-orange">￥{{::order.orderAmt}}</span>


                        <div class="opt-btn" ng-switch="order.orderStatus">
                            <a href="{{order.orderStatus==7 ? 'javascript:void(0)':'#/shop/index/order?id='+order.orderID}}">
                                <button ng-switch-when="1" class="btn btn-orange btn-in-order-list">付款</button>
                                <button ng-switch-when="2" class="btn btn-yellow btn-in-order-list">待发货</button>
                                <button ng-switch-when="3" class="btn btn-orange btn-in-order-list">确认收货</button>
                                <!--<button ng-switch-when="4" class="btn btn-green btn-in-order-list">已完成</button>-->
                                <span ng-switch-when="4" class="c-gray">已完成</span>
                                <!--
                                <a ng-switch-when="5" class="btn btn-gray-dark btn-in-order-list" ng-href="#/shop/index/order?id={{order.orderID}}">已关闭</a>
                                -->
                                <button ng-switch-when="6" class="btn btn-red btn-in-order-list">退款中</button>
                                <span ng-switch-when="7" class="c-gray">等待支付确认</span>
                            </a>
                        </div>
                        <div class="opt-btn"
                             ng-click="ctrl_show_delivery($index,order.orderID,order.delivery.delivererCode,order.delivery.deliveryCode)">
                            <button ng-if="order.orderStatus==3"
                                    class="btn btn-yellow btn-in-order-list">查看物流
                            </button>
                        </div>
                    </div>
                </li>
            </div>
            <button class="btn btn-block btn-loading" ng-if="!_disable_load" ng-click="find()">加载更多</button>
        </div>


    </div>
</div>
<div class="bg-main" ng-if="show_delivery" ng-click="ctrl_hide_delivery()"></div>
<delivery-check></delivery-check>