<div class="member-index">
    <div class="content-body">
        <div class="memberinfo">
            <div class="membertitle">
                <a class="return icon-qiehuanqizuo icon" href="#"></a>
                <span>个人中心</span>
            </div>
            <div class="memberinfos">
                <div class="left">
                    <div class="pic"><img src="static/image/shop/headinfo.png" /></div>
                    <div class="name">
                        <ul>
                            <li>火力少年</li>
                            <li>11424020331</li>
                            <li>V4会员</li>
                        </ul>
                    </div>
                </div>
                <div class="right">
                    <a href=""><div class="setinfo icon-shezhi icon"></div></a>
                    <a href=""><div class="guanzhu icon-shoucangshangpin icon">关注</div></a>
                </div>
            </div>
        </div>
        <div class="mynum">
            <div class="count">
                <div><span>2</span><p>优惠券</p></div>
                <div><span>￥100</span><p>我的奥币</p></div>
                <div><span>56</span><p>积分</p></div>
            </div>
            <div class="sign"></div>
        </div>
        <div class="memberaction">
            <a href="#/shop/index/cusorderlist"><div class="mem-content icon-liebiao icon"><p>订单</p></div></a>
            <a href="http://piplus.wxpai.cn/mvm/forum/v1.4/index.html?ent_code=100038&infoId=55263da7ff79a60465daa543"><div class="mem-content icon-shouye icon"><p>微社区</p></div></a>
            <a href="http://piplus.wxpai.cn/app/pointmall/100038#!/"><div class="mem-content icon icon-dianpu"><p>奥币商城</p></div></a>
        </div>
        <div class="memberaction">
            <a><div class="mem-content icon icon-jinbi"><p>我要奥币</p></div></a>
            <a><div class="mem-content icon icon-wenbenshuru"><p>每日签到</p></div></a>
            <a href="#/shop/index/coupon"><div class="mem-content icon icon-quan"><p>我的优惠券</p></div></a>
        </div>
        <div class="memberaction">
            <a href="#/shop/index/promotionlist"><div class="mem-content icon icon-liwu"><p>我的优惠码</p></div></a>
            <a href="http://piplus.wxpai.cn/sam/aofeiTreasure/game/acd1b81361732217473ff45cd5baea"><div class="mem-content icon icon-youxi"><p>游戏中心</p></div></a>
            <a href="#/shop/index/cart"><div class="mem-content icon icon-gouwuche"><p>购物车</p></div></a>
        </div>
    </div>
</div>