<div class="order-code" ng-if="show_order_code" ng-class="{'on':show_order_code_slow}">
    <form class="code-fm" name="orderLayout" ng-submit="(form_order)">
        <h4 class="code-fm-title">优惠码</h4>

        <div class="publish-cancel" ng-click="ctrl_close_order()">
            <div class="cancel-img"></div>
        </div>
        <div class="block" ng-repeat="cusPromoCode in cusPromoCodes" ng-if="$index<4">
            <div class="code-list" ng-click="ctrl_order_code_use(cusPromoCode)">
            <div class="">
                    <ul class="">
                        <li class="">
                            <span class="code-name">{{cusPromoCode.promoCodeName}}</span> <span class="code-limit">{{cusPromoCode.promoCode}}</span>
                        </li>
                        <li class="code-limt" ng-if="cusPromoCode.fullAmt>0">
                            <span class="code-limit">订单满{{cusPromoCode.fullAmt}}元-{{cusPromoCode.promoCodeAmt}}元</span><!--<span class="code-time">失效时间{{cusPromoCode.endTime}}</span>-->
                        </li>
                        <li class="code-limt" ng-if="cusPromoCode.fullAmt==0">
                            <span class="code-limit">无限制：订单-{{cusPromoCode.promoCodeAmt}}元</span><!--<span class="code-time">失效时间{{cusPromoCode.endTime}}</span>-->
                        </li>
                        <!--<li class="">-->
                        <!--有效期：{{cusPromoCode.startTime}}至{{cusPromoCode.endTime}}-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>
        </div>

        <div class="in_promocode">
            <label class="use_promocode">
                    <span class="">
                        <input type="text" name="promo_code" class="" ng-model="input.promo_code" maxlength="10"
                               ng-change="check_promocode(input)"
                               placeholder="优惠码">
                    </span>
                <button class="btn" ng-click="ctrl_order_code_verify(input.promo_code)">使用</button>
            </label>
        </div>

        <div class="block" ng-click="ctrl_order_code_cancel()" ng-if="orderPromocode.promotionID>0">
        <div class="empty-code-list"><span>取消已选优惠码</span></div>
        </div>
    </form>
</div>