<div class="content activity index-list">
    <div class="content-body">
        <div class="img-box">
            <img src="static/image/shop/100038/index_01.jpg">
            <!--<pj-carousel images="images" local="1" elm="index_swipe"></pj-carousel>-->
        </div>
        <div class="cat clearfix">
            <div class="activity on">
                <div class="activityname on">
                <span>晚上6:18</span><br>
                <span>疯狂抢购</span>
                </div>
                <s class="on"></s>
            </div>
            <div class="activity">
                <div class="activityname">
                    <span>晚上6:18</span><br>
                    <span>疯狂抢购</span>
                </div>
                <s></s>
            </div>
            <div class="activity">
                <div class="activityname">
                    <span>晚上6:18</span><br>
                    <span>疯狂抢购</span>
                </div>
                <s></s>
            </div>
            <div class="activity">
                <div class="activityname">
                    <span>晚上6:18</span><br>
                    <span>疯狂抢购</span>
                </div>
                <s></s>
            </div>

        </div>
        <div class="contentde">
            <div class="activityinfo">
                <div class="starttime">
                    <span class="end">即将开始，离开始还有 00:25:02</span><br>
                    <span class="remark">本场开始后可以享受秒杀价</span>
                </div>
                <div class="area">
                    <div class="line lineleft"></div>
                    <div class="namep">6.18元专区</div>
                    <div class="line lineright"></div>
                </div>
            </div>
            <div class="secgood">
                <div class="goodpic">
                    <img src="static/image/shop/1.jpg">
                </div>
                <div class="goodinfo">
                    <ul>
                        <li>
                            <span>这就是产品，这就是爱</span>
                        </li>
                        <li>
                            <button class="remark">6月3号开枪</button>
                        </li>
                        <li>
                            <span class="saleprice">秒杀价：￥6.18</span>
                        </li>
                        <li>
                            <span>库存：8</span>
                            <button class="buy">秒杀</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="secgood">
                <div class="goodpic">
                    <img src="static/image/shop/1.jpg">
                </div>
                <div class="goodinfo">
                    <ul>
                        <li>
                            <span>这就是产品，这就是爱这就是爱这就是爱</span>
                        </li>
                        <li>
                            <button class="remark">6月3号开枪</button>
                        </li>
                        <li>
                            <span class="saleprice">秒杀价：￥6.18</span>
                        </li>
                        <li>
                            <span>库存：8</span>
                            <button class="buy">立即购买</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>